{# -- Global site tag (gtag.js) - Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ siteinfo.gua_code }}"></script>
<script src="{{ '/js/analytics.js' | url }}"></script>
