{# -- Global site tag (gtag.js) - Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ siteinfo.gua_code }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ siteinfo.gua_code }}');
  gtag('config', '{{ siteinfo.ga_code }}');
</script>
