{# links to stylesheets, sitemaps, favicons, rss etc go in this file.
#}
  <link rel="canonical"   href="{{siteinfo.site_url + page.url.substring(1) }}" />
{#-
  TODO: add news feed
  <link rel="alternate"   href="{{siteinfo.site_url + 'feed.xml'}}" type="application/atom+xml" title="{{siteinfo.title}}">
#}

  <link rel="sitemap"     href="{{ siteinfo.site_url }}sitemap.xml" type="application/xml" title="Sitemap" />
  <link rel="icon"        href="{{ '/images/favicon.png' | url }}" type="image/png" />
  <link rel="stylesheet"  href="{{ '/css/default.css'    | url }}" />
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css" />
  <!-- for katex
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css"/>
  -->
  {#- preconnect to speed up font download #}
  {#- merriweather + raleway #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="preconnect"  href="https://fonts.googleapis.com" />
  <link rel="preconnect"  href="https://fonts.googleapis.com" crossorigin />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond"
        rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC"
        rel="stylesheet" />

{#- vim: syntax=markdown
#}
