{#
  insert any scripts to include, below here.
#}
<script src="{{ '/js/nav.js' | url }}"></script>
{% include '_analytics.njk' %}
<!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" />
-->
{# vim: syntax=html :
#}
