<!DOCTYPE html>
<html lang="en">
<head>
{% include '_head.njk' %}
</head>
<body>
  {% include '_nav.njk' %}
  {% include '_github-corner.njk' %}
  {{ content | safe }}
  {% include '_footer.njk' %}
</body>
</html>
