---
permalink: /css/default.css
eleventyExcludeFromCollections: true
---

/* clear spacing */

html, body, div, nav
{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

/* small */
@media (max-width: 767px) {
}
/* big */
@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

/* stop targets scrolling to top
   of viewport */
main :target::before {
    content:    '';
    display:    block;
    height:     85px;
    margin-top: -85px;
}

/* layout */

/* we have: nav, main, footer
 */

.page {
  padding: 25px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 750px;
  position: relative;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateX(-50%);
  line-height: 1.7;
  margin-top: 50pt;
}


footer {
  padding-top: 3ex;
  text-align: center;
}

/* minor tables */

.inline-table-ctr tr td,
.inline-table tr td
{
  vertical-align: top;
}

.inline-table-ctr td:nth-child(2),
.inline-table td:nth-child(2)
{
  padding-left: 1em;
}


/* heading spacing */

h1,h2,h3 {
  line-height: 1.2;
}

h1 {
  font-size: 1.30em;
  text-align: center;
}

h2 {
  font-size: 1.25em;
}


/* theme */

body {
  font-family: 'Merriweather', Georgia, Serif;
  line-height: 1.6;
}

/* heading styles */

h2, h3, h4, h5 {
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather Sans', 'Trebuchet MS', 'Helvetica Neue', Tahoma, sans-serif;
}

/* links */

main a {
  color: #333f8c;
  text-decoration:none;
  border-bottom: dotted 1px #A1A3A1;
}

nav a {
  text-decoration:none;
}


main a:focus,
main a:hover  {
  text-decoration:underline;
  border-bottom: none;
  color: #071cc8;
}

/* em-dash lists */

main ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 1em;
}
main ul > li {
  text-indent: -0.5em;
}
main ul > li:before {
  display: inline-block;
  content: '\2012';
  width: 0.5em;
  text-indent: -0.5em;
}

/* semantic */

.hi-pri {
  color: #053cc9;
}

.expanded {
  position: absolute;
  left:     0;
  right:    0;
}

table {
  table-layout: fixed;
}



code, pre {
  background-color: transparent;
}

p.code {
  text-indent: 0;
  vertical-align: middle;
  margin-top: -1.25em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  font-family: monospace;
  white-space: pre;
}

.pjustify {
  text-align: justify;
}


.even-row {
  background-color: rgb(204, 204, 204);
}

.odd-row {
  background-color: #eeeedf;
}


/* footer */
.text-muted {
  color: #666666;
  font-size: 75%;
}


/* pre on small-width screens */
@media (max-width: 767px) {
  pre {
    overflow: scroll;
  }
}

/* Inline code */
:not(pre) code {
  padding: 2px 4px;
  font-size: 90%;
  word-break: break-all !important;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* Blocks of code */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  hyphens: none;
  background-color: transparent;
  border-radius: 0;
}

/* theme for wide vs narrow */
/* small */
@media (max-width: 767px) {
  /* theme */
  body {
    background-color: #FBFBFB;
  }
}
/* big */
@media (min-width: 768px) {
  body {
    background: #FBFBFB ;
  }

  *[role="navigation"], .bar {
    font-size:120%;
    font-family: 'Merriweather Sans', 'ff-meta-serif-sc-web-pro';
    background: #44508c;
  }

  *[role="navigation"] a
    { color: #f7f7ff;
      text-decoration: none;
    }

  *[role="navigation"] a.active {
    color: white;
  }
}

/* navbar */

/* big */
@media (min-width: 768px) {
  .expandable-content-xs[data-expanded="false"] {
    height: auto !important;
  }
}

/* small */
@media (max-width: 767px) {
  /* content made initially 'invisible' (height 0) on eXtra-Small width screens*/
  .expandable-content-xs {
     overflow: hidden;
     height:auto;
     z-index: 900;
     transition: height 0.3s ease-out;
  }

  .expandable-content-xs[data-expanded="false"] {
    height: 0;
  }
  .expandable-content-xs[data-expanded="true"] {
    height: auto;
  }
} /*end media */

/* github corner icon */
/* big */
@media (min-width: 768px) {
  .github-corner svg {
    fill:var(--accent-v-light); color:var(--accent); position: fixed; top: 0; right: 0; z-index: 1040;
  }
  .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
}

/* small */
@media (max-width: 767px) {
  .github-corner {
    display: none;
  }
}


{# vim: syntax=css :
#}
