---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
    <url>
        <loc>{{ siteinfo.site_url + (page.url | url).substring(1) }}</loc>
        <lastmod>{{ date | dateIso }}</lastmod>
    </url>
  {%- endfor -%}
  {# Manually add lab pages #}
  {%- for i in range(1, 10) %}
    <url>
        <loc>{{ siteinfo.site_url }}workshops/workshop{{ i | string | leftpad('0', 2) }}.html</loc>
    </url>
  {%- endfor -%}
</urlset>
{#- vim: syntax=xml :
-#}
